services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Sagster-2020
      POSTGRES_DB: mwork
    volumes:
      - postgres_data_local:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data_local:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped
    ports:
      - "6379:6379"

  adminer:
    image: adminer:latest
    ports:
      - "8082:8080"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  migrate:
    image: migrate/migrate:4
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations:ro
    command:
      - -path=/migrations
      - -database=postgresql://postgres:Sagster-2020@postgres:5432/mwork?sslmode=disable
      - up
    restart: "no"

  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    env_file:
      - .env.docker.local
    ports:
      - "8080:8080"
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads

#  web:
#    image: ghcr.io/kuanyshmaral/mwork-frontend:latest
#    restart: unless-stopped
#    ports:
#      - "80:80"
#    depends_on:
#      - api
#    extra_hosts:
#      - "host.docker.internal:host-gateway"

volumes:
  postgres_data_local:
  redis_data_local:
