services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: mwork
      POSTGRES_PASSWORD: mwork_secret
      POSTGRES_DB: mwork_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mwork -d mwork_dev"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  adminer:
    image: adminer:latest
    ports:
      - "8082:8080"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  migrate:
    image: migrate/migrate:4
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations:ro
    env_file:
      - ./.env.docker
    environment:
      DATABASE_URL: ${DATABASE_URL:-}   # не обязательно, но ок
    entrypoint: ["/bin/sh", "-lc"]
    command: 'echo "DB=$$DATABASE_URL" && migrate -path=/migrations -database "$$DATABASE_URL" up'
    restart: "no"

  api:
    image: ghcr.io/kuanyshmaral/mwork-backend:latest
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    env_file:
      - ./.env.docker
    ports:
      - "8080:8080"
    restart: unless-stopped

  web:
    image: ghcr.io/kuanyshmaral/mwork-frontend:latest
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - api
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres_data:
  redis_data: